@font-face {
  font-family: "broughton";
  src: url("/broughton.ttf");
}

@font-face {
  font-family: "matsury";
  src: url("/Matsury.ttf");
}

.footerTitle {
  padding: 20px;
  font-family: "broughton";
  text-shadow: 0 0 20px black;
  font-size: 20px;
  text-align: center;
}

.nameDeveloper {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
  font-family: "matsury";
  font-size: 30px;
  padding: 5px;
  margin-top: 30px;
}
