@font-face {
  font-family: "broughton";
  src: url("/broughton.ttf");
}

.title {
  font-family: "broughton";
  font-size: 20px;
  text-shadow: 0 0 20px black;
  width: 100px;
  text-align: center;
}
