@font-face {
  font-family: "broughton";
  src: url("../../../../public/broughton.ttf");
}
.navBar {
  position: fixed;
  top: 0;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: auto;
}

.title {
  font-family: "broughton";
  font-size: 20px;
  text-shadow: 0 0 20px black;
}
