.navBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: aqua;
  height: auto;
}
